@model _12_Weboto.Models.Brand

@{
    ViewData["Title"] = "Chi tiết thương hiệu";
}

<h2>Chi tiết thương hiệu</h2>

<div>
    <p><strong>ID:</strong> @Model.Id</p>
    <p><strong>Tên:</strong> @Model.TenHang</p>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Sửa</a>
<a asp-action="Index" class="btn btn-secondary">Quay lại</a>
