@model _12_Weboto.Models.Brand

@{
    ViewData["Title"] = "Chỉnh sửa thương hiệu";
}

<h2>Chỉnh sửa thương hiệu</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="mb-3">
        <label>Tên Hãng:</label>
        <input type="text" class="form-control" name="TenHang" value="@Model.TenHang" required />
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
