@model _12_Weboto.Models.Brand

@{
    ViewData["Title"] = "Thêm thương hiệu";
}

<h2>Thêm hãng xe</h2>
<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="TenHang"></label>
        <input asp-for="TenHang" class="form-control" />
        <span asp-validation-for="TenHang" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>