@using Microsoft.Extensions.Localization
@model List<_12_Weboto.Models.Car>
@inject IStringLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Trang chủ"];
}

@if (Model == null)
{
    <p class="text-center text-danger">⚠️ @Localizer["Model đang NULL, kiểm tra Controller!"]</p>
}
else if (!Model.Any())
{
    <p class="text-center text-danger">🚗 @Localizer["Không có xe nào trong database!"]</p>
}
else
{
    @await Html.PartialAsync("_CarList", Model)
}
