@model List<_12_Weboto.Models.Car>

@{
    ViewData["Title"] = "Trang chủ";
}


@if (Model == null)
{
    <p class="text-center text-danger">⚠️ Model đang NULL, kiểm tra Controller!</p>
}
else if (!Model.Any())
{
    <p class="text-center text-danger">🚗 Không có xe nào trong database!</p>
}
else
{
    @await Html.PartialAsync("_CarList", Model)
}
